body{
    background-color: rgb(239, 255, 194);
}

h1 {
    size: 0cm;
    color:dimgray
}

h2 { 
    color: gray;
}

li {
    color:coral;
    font-size:smaller
}

i {
    color:crimson
}

p {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
}

button {
    color: dimgray;
    border: none;
    border-radius: 12px;
    padding: 10px 41px;
    font-size:large;
}