body{
    background-color: rgb(227, 248, 169);
}

h1 {
    color:dimgray
}

h2 { 
    color: gray;
}

li {
    color:coral;
    font-size:smaller
}

i {
    color:crimson
}

p {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
}

button {
    color: dimgray;
    border: none;
    border-radius: 12px;
    padding: 15px 64px;
    font-size:large;
}